.icon {
  flex-shrink: 0;
  display: inline-block;
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 20px;
  height: 20px;
}

.lg {
  width: 24px;
  height: 24px;
}

.xl {
  width: 32px;
  height: 32px;
}
